body {
    font-family: 'Inter', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}
@keyframes waveAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
.wavy-background {
    background: linear-gradient(-45deg, #388E3C, #4CAF50, #66BB6A, #81C784);
    background-size: 400% 400%;
    animation: waveAnimation 15s ease infinite;
}
.material-identified-box {
    border-left: 4px solid #388E3C;
    background-color: #E8F5E9;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 0.5rem;
}
#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.home-bg {
    background-image: url('https://i.pinimg.com/originals/8f/f3/bd/8ff3bdc1dd7b8ccb411e63ea24f69074.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.scanner-bg {
    background-image: url('https://i.pinimg.com/originals/b2/58/85/b258854e249c5d4673a5938b90b6bbf5.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.347);
    background-blend-mode: overlay; 
}
@media (max-width: 768px) {
    .wavy-background h2 {
        font-size: 2.5rem;
    }
    .wavy-background p {
        font-size: 1.25rem;
    }
}
.scanner-bg h1, .scanner-bg h2, .scanner-bg h3, .scanner-bg p, .scanner-bg span, .scanner-bg button {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 

}
.scanner-upload-container, .scanner-results-container {
    background-color: rgba(255, 255, 255, 0.7); 
    backdrop-filter: blur(5px); 
}